._Modal_UI_Wrap.dimed {
  background-color: rgba(23,25,28,0.2);
}

.hiresEmoticon {
  width: 26px;
  height: 26px;
  box-sizing: content-box;
}

img.emoticon {
  box-sizing: content-box;
}

.betterAfreecaChangeOpacity {
  margin-left: 1em;
  color: #ccc;
}

div#emoticonContainer.on.betterAfreecaTransparent {
  opacity: 0.8 !important;
}

div#layerStarGiftNew.betterAfreecaTransparent {
  opacity: 0.8;
}
